/* Colors to use
black: #242424
turquiose: #2db4be */

.header {
    background-color: #242424;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em;
    flex-wrap: wrap;
}

.logo-title {
    margin-top: 7px;
    margin-bottom: 7px;
    color: #2db4be;
}

.title-link:hover {
    text-decoration-color: #2db4be;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.header-button {
    background-color: #242424;
    border: solid 2px;
    border-radius: 2px;
    border-color: #2db4be;
    color: white;
    margin: 5px;
    padding: 10px 20px;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.header-button:hover {
    background-color: #2db4be;
}

.profile-link {
    margin: auto 0;
}

.find-header {
    background-color: #2db4be;
    margin-left: 0;
}

.find-header:hover {
    background-color: #2db4bebe;
}

.btn-secondary {
    margin: 5px;
}

.about-textarea {
    display: block;
}